*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(245, 248, 255);
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 88%;
    max-width: 1365px;
    margin: 0 auto;
}
button.primary-btn{
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    padding: 14px 36px 14px 36px;
    border: 0px;
    outline: 0px;
    background: rgb(78, 71, 255);
    transition: background-color 0.4s ease, transform 0.4s ease;
    transform: scale(1);
    cursor: pointer;
}
button.primary-btn:hover{
    background-color: rgb(47 44 205);
    transform: scale(1.04);
}


/* -----------------------
    Header Section Start
--------------------------- */
header {
    background-image: url('../images/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 630px;
    background-size: cover;
    border-bottom: 3px dashed rgb(163 163 169 / 36%);
    margin-bottom: 50px;
}
.header-flex{
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo > span{
    color: rgb(78, 71, 255);
    font-family: Inter;
    font-size: 34px;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
}
.header-btn > button{
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 10px;
    background: rgb(78, 71, 255);
    padding: 12px 36px 12px 36px;
    outline: 0px;
    border: 0px;
    transition: background-color 0.4s ease, transform 0.4s ease;
    transform: scale(1);
    cursor: pointer;
}
.header-btn > button:hover{
    background-color: rgb(2, 2, 2);
    transform: scale(1.04);
}
.header-text{
    padding: 100px 0px;
    text-align: center;
}
.header-text > h1{
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 65px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0px;
    text-align: center;
    padding-bottom: 20px;
}
/* ------------------------
    Header Section End
--------------------------- */


/* -----------------------
    About Section Start
--------------------------- */
.about-section{
    padding: 50px 0px;
}
.about-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.about-context > h2{
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
}
.about-context > p{
    color: rgba(37, 36, 50, 0.653);
    font-family: Raleway;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    padding: 20px 0px 30px 0px;
}
.about-img > img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/* -----------------------
    About Section End
--------------------------- */


/* -------------------------
    User Section Start
--------------------------- */
.user-section{
    padding: 50px 0px;
}
.user-bg{
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.1);
    padding: 80px 80px;
    text-align: center;
}
.user-bg > h2{
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: center;
}
.user-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 50px;
}
.user-context > h3{
    color: rgb(78, 71, 255);
    font-family: Inter;
    font-size: 74px;
    font-weight: 700;
    line-height: 97px;
    letter-spacing: 0px;
}
.user-context > p{
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}
/* -------------------------
    User Section End
----------------------------- */


/* ---------------------------
    Reviews Section Start 
------------------------------ */
.reviews-section{
    padding: 50px 0px;
}
.reviews-area > h2{
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
}
.reviews-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
}
.review-card{
    border: 1px solid rgb(242, 237, 237);
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.5);
    padding: 24px 24px;
}
.review-ratings > ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 4px;
}
.review-ratings > ul > li{
    width: 20px;
    color: rgb(254, 197, 8);
}
.reviews-context{
    padding: 26px 0px 25px 0px;
}
.reviews-context > h3 {
    color: rgb(30, 30, 30);
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.2px;
}
.reviews-context > p {
    color: rgb(30, 30, 30);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    padding-top: 8px;
}
.review-profile-flex{
    display: flex;
    align-items: center;
    gap: 12px;
}
.review-img > img{
    border-radius: 100px;
    width: 40px;
    height: 40px;
}
.reviewer-details > h4{
    color: rgb(117, 117, 117);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
}
.reviewer-details > small{
    color: rgb(179, 179, 179);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
}
/* ---------------------------
    Reviews Section End
----------------------------- */


/* ----------------------------
    Subscribe Section Start 
------------------------------- */
.subscribe-section{
    padding: 50px 0px;
}
.subscribe-bg{
    padding: 80px 80px;
    border-radius: 14px;
    background: rgb(255, 255, 255);
    text-align: center;
}
.subscribe-bg > h2 {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    padding-bottom: 8px;
}
.subscribe-bg > p{
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    padding: 10px 0px 30px 0px;
}
.subscribe-image{
    padding-top: 50px;
}
.subscribe-image > img{
    border-radius: 48px;
    width: 840px;
    height: 364.77px;
} 
/* -----------------------------
    Subscribe Section End
-------------------------------- */


/* -----------------------------
    Contact Section Start
-------------------------------- */
.contact-section{
    padding: 50px 0px;
}
.contact-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.contact-context > h2{
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 84px;
    font-weight: 700;
    line-height: 110px;
    letter-spacing: 0%;
}
.contact-field {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px 0px;
}
.contact-field > label{
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0px;
}
.contact-field > input{
    border: 1px solid rgb(214, 221, 237);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 16px 18px;
}
.contact-field > input::placeholder{
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0px;
}
.contact-field > textarea{
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0px;
    padding: 16px 18px;
    box-sizing: border-box;
    border: 1px solid rgb(214, 221, 237);
    border-radius: 10px;
    background: rgb(255, 255, 255);
}
.contact-btn > button {
    border-radius: 10px;
    background: rgb(78, 71, 255);
    width: 100%;
    padding: 10px 36px;
    outline: 0px;
    border: 0px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 10px;
    transition: background-color 0.4s ease, transform 0.4s ease;
    transform: scale(1);
    cursor: pointer;
}
.contact-btn > button:hover{
    background-color: rgb(0, 0, 0);
    transform: scale(1.04);
}
/* ----------------------------
    Contact Section End
-------------------------------- */


/* -----------------------------
    Footer Section Start 
-------------------------------- */
footer{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    padding: 80px 100px;
    margin-top: 50px;
}
.footer-context{
    text-align: center;
}
.footer-logo > span{
    color: rgb(78, 71, 255);
    font-family: Inter;
    font-size: 50px;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
}
.footer-context-area > p{
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    width: 531px;
    margin: 0 auto;
    padding: 30px 0px;
}
.useful-link > ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.useful-link > ul > li > a{
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
}
/* ------------------------------
    Footer Section End
--------------------------------- */